<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <style>
      td { padding: 20px 30px; } .btn-primary { width: 177px; height: 36px;
      border-radius: 5px; padding: 5px 10px; border: 1px solid #0069ff; color:
      #0069ff; font-weight: 600; font-size: 12px; background-color: #f5f9ff;
      cursor: pointer; } .main-conatiner { margin-left: auto; margin-right:
      auto; width: 470px; max-width: 470px; padding: 1.25rem; border-collapse:
      collapse; text-align: center; } .para-text { font-style: normal;
      font-weight: 400; font-size: 12px; line-height: 130%; color: #404040;
      text-align: justify; } .banner { font-style: normal; font-weight: 400;
      font-size: 10px; line-height: 13px; color: #616161; background: #f5f8f9;
      border-left: 2px solid #1c9cf6; padding: 4px 10px; } .table-data {
      font-family: "Tahoma"; font-style: normal; font-weight: 400; font-size:
      10px; line-height: 132.5%; color: #262626; } .table-row { padding: 10px
      10px; } .table-row-top { padding: 10px 5px; }
    </style>
  </head>
  <body
    style="
      padding: 10px;
      letter-spacing: 0.04em;
      font-family: Tahoma, Arial, sans-serif;
    "
  >
    <div class="main-conatiner" width="470px">
      <table style="margin: auto; text-align: center">
        <tbody>
          <tr style="padding-bottom: 60px">
            <td>
              <img
                src="{{logo}}"
                alt="company logo"
                {{! height="78px"
                width="200px" }}
                style="height: 60px; width: 180px"
              />
            </td>
          </tr>
          <tr>
            <td class="para-text">
              <p style="border-left: 2px solid #ffcd00; padding-left: 10px">
                Dear
                {{username}},
              </p>
              <p style="padding-left: 10px">
                As part of the recently launched survey -
                {{surveyTitle}}, you have been selected to provide feedback for
                some employees -
              </p>
              <p style="padding-left: 10px">
                Your role in this feedback is to provide feedback on leadership
                competencies of the employees you are rating. The survey results
                will provide valuable information for the employees leadership
                development and will not be used for any other purpose.
              </p>
              <p style="padding-left: 10px">
                Your answers are completely confidential and will be summarized
                with the data from other raters in the same category. The
                results of all surveys will be compiled by NBO group, per
                request of
                {{tenantName}}, so no one else will have access to your
                individual feedback.
              </p>
              <p style="padding-left: 10px">
                Please click on the below link to start completing the surveys.
              </p>
              <p style="padding-left: 10px">
                You need to complete the survey(s) no later than
                {{endDate}}. Your timely completion of the survey is highly
                appreciated.
              </p>

              <p style="padding-left: 10px">
                Yours Sincerely
                <br />
                NBO Group
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <a href="{{link}}" style="margin-bottom: 1rem">
        <button class="btn-primary">Click here to start now</button>
      </a>
      <table
        width="410px"
        style="width: 410px; max-width: 410px; margin: auto; padding-top: 20px"
      >
        <tbody>
          <tr>
            <td>
              <p
                style="
                  padding-top: 10px;
                  border-top: 1px solid #f2bf1a;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 10px;
                  font-family: 'Trebuchet MS';
                  text-align: center;
                "
              >
                &copy; NBO Leadership
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>