  <script>
  const renderStrengthAndDevNeedsFromManagerChart2 = (id,id2,overall_avg_id,selfavg_id,avg_id,overall_avg,avg,self) => {
    
    
    document.getElementById(overall_avg_id).style.width = `${(overall_avg * 100) / 4}%`;
    document.getElementById(selfavg_id).style.left = `${(self * 100) / 4}%`;
    document.getElementById(avg_id).style.left = `${(avg * 100) / 4}%`;
    document.getElementById(id2).style.left = `${(avg * 100) / 4}%`;


  };

</script>
<div class="dont-break break-inside-avoid-page w-full min-h-[1044px] h-fit mx-auto  p-5">
   <div class="relative h-full">
      {{> dual-gap/cornerFrames }}
      <div
      class="bg-primary-light font-urbanist font-bold text-primary p-2 text-base uppercase"
      {{!-- style="color:#0069ff" --}}
      >
      Competencies report in ASCENDING ORDER
   </div>
   <div class="flex break-inside-avoid-page justify-between items-center border p-3 mt-5 ">
   <div class="flex justify-start items-center">
      <div class="mr-2 w-1 h-6 bg-[#0069ff]"></div>
      <div class="font-urbanist text-sm">Average Gap Size</div>
   </div>
   <div class="flex justify-start items-center">
      <div class=" w-10 h-6 mb-2 ">
         {{#with arrayData.competencyData2.[0]}}
         <img src={{url}} style="position:absolute;height:30px;"/>
         {{/with}}
      </div>
      <div class="font-urbanist text-sm">Self Gap Size</div>
   </div>
   <div class="flex justify-start items-center">
      <div
         class="mr-2 w-10 h-6 bg-[#D9E6f9]"
         ></div>
      <div class="font-urbanist text-sm">Overall Survey Average Gap Size</div>
   </div>
</div>
   <div class="flex justify-between  flex-col pl-4">
      <div>
         {{#each arrayData.competencyData2 as |competency|}}
         <div class="flex justify-between items-center mt-10 break-inside-avoid-page" style="height:140px;">
            <div class="w-[49%] mt-5">
               <p
               {{!-- class="text-neutral-700 text-lg font-medium font-urbanist uppercase pb-2" --}}
               class="font-urbanist font-semibold"
               style="
               height: 20px;
               {{!-- font-weight: 600; --}}
               font-size: 15px;
               line-height: 20px;
               {{!-- margin-top:34px; --}}
               text-transform: uppercase;
               color: #525252;"
               >
               {{competency.name}}
               </p>
            </div>
            <div class="" style="margin-right: 40px;"><div id={{concat "competencyInAsc-" @index}}></div>
            <div style="
               {{!-- margin-left:100px; --}}
               position:relative;
               width:270px;
               height:34px" >
               <div id={{concat "competencyInAvgAsc-" @index}} style="font-family: 'urbanist';position:relative;transform: translateX(-4%);">({{decimalUpto2digit competency.others}})
            </div>
            <div style="border:0.626113px solid rgba(36, 36, 36, 0.66);
               height:34px;
               width:270px;
               position:relative">
               <div id={{concat "competencyInAsc-avg-" @index}} style="position:absolute; width:4px;height:100%;background:#0069ff;transform: translate(-50%,-50%);top: 50%;z-index: 99;">
            </div>
            <div id={{concat "competencyInAsc-overallavg-" @index}} style="position:absolute; width:28px;height:100%;background: #D9E6f9;">
         </div>
         <img id={{concat "competencyInAsc-selfavg-" @index}} src={{competency.url}} style="position:absolute;height:25px;transform: translate(-50%,-50%);top: 50%;"/>
      </div>
      <div style="position:absolute;left:0%;top:57px; width:1px;height:30%;background:rgba(36, 36, 36, 0.66)"></div>
      <div style="position:absolute;left:25%;;top:57px; width:1px;height:30%;background:rgba(36, 36, 36, 0.66)"></div>
      <div style="position:absolute;left:50%;;top:57px; width:1px;height:30%;background:rgba(36, 36, 36, 0.66)"></div>
      <div style="position:absolute;left:75%;;top:57px; width:1px;height:30%;background:rgba(36, 36, 36, 0.66)"></div>
      <div style="position:absolute;left:269px;top:57px; width:1px;height:30%;background:rgba(36, 36, 36, 0.66)"></div>
      <div style="position:relative;
         margin-top:8px
         ">
         <span style="position:absolute;
            font-family: 'urbanist';
            font-style: normal;
            font-weight: 400;
            {{!-- font-size: 13px; --}}
            left:-0.9%">0</span>
         <span style="position:absolute;
            font-family: 'urbanist';
            font-style: normal;
            font-weight: 400;
            {{!-- font-size: 13px; --}}
            left:24%">1</span>
         <span style="position:absolute;
            font-family: 'urbanist';
            font-style: normal;
            font-weight: 400;
            {{!-- font-size: 13px; --}}
            left:49%">2</span>
         <span style="position:absolute;
            font-family: 'urbanist';
            font-style: normal;
            font-weight: 400;
            {{!-- font-size: 13px; --}}
            left:74%">3</span>
         <span style="position:absolute;
            font-family: 'urbanist';
            font-style: normal;
            font-weight: 400;
            {{!-- font-size: 13px; --}}
            left:99%">4</span>
      </div>
   
   </div>
   <script>
      renderStrengthAndDevNeedsFromManagerChart2( "competencyInAsc-" + {{@index}},"competencyInAvgAsc-"+ {{@index}},"competencyInAsc-overallavg-"+ {{@index}},"competencyInAsc-selfavg-" + {{@index}},"competencyInAsc-avg-" + {{@index}},{{competency.overall_avg}},{{competency.others}},{{competency.self}})
   </script>
</div>
</div>
{{/each}}
</div>

</div>
</div>
</div>
</div>