<script>
  const getId = (id,catIndex)=>{
    return id+catIndex
  }
</script>
{{#each top10Questions as |category|}}
  <div class="dont-break break-inside-avoid-page w-full min-h-[1044px] h-fit mx-auto p-5">

  <div class="relative h-full">
    {{> dual-gap/cornerFrames }}
    <div class="bg-primary-light font-urbanist font-semibold text-primary p-2 text-base uppercase">
      CURRENT & EXPECTED BEHEVIOUR WHERE HIGH PERFORMANCE IS EXPECTED (TOP 10)
    </div>
    <div class="h-full  ">
      <div class="border-b my-10 pb-1 flex justify-between items-center">
        <div class="text-neutral-700 uppercase text-base font-urbanist font-semibold">
          Rating from <span class="uppercase">{{category.category}}</span>
        </div>
        <div class="flex justify-between items-center">
          <div class="flex justify-between items-center mr-4">
            <div class="w-5 h-2 mr-2 font-inter bg-[#3786EE]"></div>
            <div class="text-xs text-neutral-600">Current</div>
          </div>
          <div class="flex justify-between items-center">
            <div class="w-5 h-2 mr-2 font-inter bg-[#DBECF8]"></div>
            <div class="text-xs text-neutral-600">Expected</div>
          </div>
        </div>
      </div>
      {{#each category.data as |question|}}
        {{#if @last}}
          <div class="flex p-4 items-center mb-5">
        {{else}}
          <div class="flex p-4 items-center mb-5">
        {{/if}}
        <div class="w-1/2">
             <p
                  class="text-primary font-semibold font-urbanist border-b uppercase"
                  style="font-size: 16px;"
                >
            {{question.competency}}
                </p>
            <p class="text-sm font-inter mt-1" style="color: #404040;font-size:14px">
              {{!-- Q{{question.order}}. {{question.text}}  --}}
              Q{{findIndexofText ../../individualQuestionData question.id}}.  {{question.text}} 
            </p>
        </div>
        <div class="w-1/2" style="margin-left:100px">
          <div  id={{concat  "categoryQuestion" category.catIndex @index}}></div>
        </div>
        <script>
          renderBlindSpotsChart(getId("categoryQuestion",{{category.catIndex}}),{{@index}},{{question.expected}},{{question.current}})
        </script>
      </div>
      {{/each}}
    </div>
  </div>
</div>
{{/each}}
