<script>
   var colors = [
    "FEBD2A",
    "29AF7F",
    "260F99",
    "BEC8D0",
    "8B0AA5",
    "A0DA39",
    "FF7F00",
    "2C85B2",
    "19B2FF",
    "8F7EE5",
  ];
  const renderStrengthAndDevNeedsFromManagerChart = (
    id,
    id2,
    overall_avg_id,
    selfavg_id,
    avg_id,
    overall_avg,
    avg,
    self
  ) => {
    document.getElementById(overall_avg_id).style.width = `${
      (overall_avg * 100) / 4
    }%`;
    document.getElementById(selfavg_id).style.left = `${(self * 100) / 4}%`;
    document.getElementById(avg_id).style.left = `${(avg * 100) / 4}%`;
    document.getElementById(id2).style.left = `${(avg * 100) / 4}%`;
  };
  const renderRaterWiseData = (id, value, index) => {
    const value2 = (document.getElementById(id).style.width = `${
      (value * 100) / 4
    }%`);
   
    {{!-- const value3 = (document.getElementById(id).style.backgroundColor =
      colors[index]); --}}
  };
</script>
<div
  class="dont-break break-inside-avoid-page min-h-[1044px] report-container h-fit mx-auto p-4"
>
  <div class="relative h-full">
    {{> dual-gap/cornerFrames }}
    <div
      class="bg-primary-light text-primary font-urbanist font-bold p-2 text-base uppercase"
    >
      Strengths and Development Needs
    </div>
    
    <div>
      <div class="bg-neutral-100 p-2 mt-3 mb-3">
        <div class="text-primary text-semi-base font-semibold font-urbanist ">
          Strengths
        </div>
        <div class="text-neutral-800 font-inter text-sm font-inter" style="font-size: 14px !important;">
          These practices were identified by your raters as your Strengths. They
          have the smallest Average Gap Size. Build on this strong foundation.
        </div>
      </div>
      
       <div class="items-center border p-2 w-full break-inside-avoid-page mb-3">
          <div class="flex justify-center gap-10">
            <div class="flex justify-start items-center w-[30%]">
              <div class="mr-2 w-1 h-6 bg-[#0069ff]"></div>
              <div class="font-urbanist text-sm">Average Gap Size</div>
            </div>
            <div class="flex justify-start items-center w-[30%]">
              <div class="w-10 h-6 mb-2">
                {{#with topFiveStrenghtsData.[0]}}
                <img src="{{url}}" style="position: absolute; height: 30px" />
                {{/with}}
              </div>
              <div class="font-urbanist text-sm">Self Gap Size</div>
            </div>
            <div class="flex justify-start items-center w-[30%]">
              <div class="mr-2 w-10 h-6 bg-[#D9E6f9]"></div>
              <div class="font-urbanist text-sm">
                Overall Survey Average Gap Size
              </div>
            </div>
          </div>
          <div
            class="flex flex-wrap justify-between items-center mt-3 gap-4 rater-class"
          >
            {{#with topFiveStrenghtsData.[0]}}
             {{#each raterWiseQuestionData as
            |raterWiseAvg|}}
            <div class="flex justify-start items-center ">
            <div id={{concat "strength-rater-avg-" @index}} class="w-8 h-4 mr-4" style="{{concat "background-color: " raterWiseAvg.color}}"></div>
              <div class="font-urbanist text-sm">{{raterWiseAvg.key}}</div>
            </div>
            <script>
              var innerIndex
               innerIndex = {{@index}}%8;
                {{!-- document.getElementById("strength-rater-avg-" + innerIndex).style.backgroundColor=colors[innerIndex] --}}
            </script>
            {{/each}}
            {{/with}}
          </div>
        </div>
      <div class="flex justify-between  flex-col p-4">
        <div>
          {{#each topFiveStrenghtsData as |question|}}
          <div
            class="flex justify-between break-inside-avoid-page items-start min-h-[180px] h-auto "
            style="min-height: 180px"
          >
            <div class="w-[49%] h-full">
              <div>
                <p
                  class="text-primary font-semibold font-urbanist border-b uppercase"
                  style="font-size: 16px;"
                >
                  {{question.competency}}
                </p>
                <p
                  class="text-sm font-inter  mt-1"
                  style="color: #404040;font-size:14px"
                >
                  Q{{findIndexofText ../sortedtopFiveStrenghtsData question.id}}. {{question.text}}
                  {{!-- Q{{question.question_order}}. {{question.text}} --}}
                  {{!-- Q{{concat @index 1}}. {{question.text}} --}}
                </p>
              </div>
            </div>
            <div class="" style="margin-right: 2px">
              <div id={{concat "strengths-" @index}}></div>
              <div
                style="
                  margin-left: 100px;
                  position: relative;
                  width: 270px;
                  height: 43px;
                "
              >
                <div id={{concat "strengthsAvgAsc-" @index}} style="font-family: 'urbanist';position:relative;transform: translateX(-4%);">({{decimalUpto2digit question.avg}})</div>
                <div
                  style="
                    border: 0.626113px solid rgba(36, 36, 36, 0.66);
                    height: 34px;
                    width: 270px;
                    position: relative;
                  "
                >
                  <div id={{concat "avg-" @index}} style="position:absolute;left:25%; width:4px;height:100%;background:#0069ff;transform: translate(-50%,-50%);top: 50%;z-index: 99;"></div>
                  <div id={{concat "overallavg-" @index}} style="position:absolute; width:28px;height:100%;background: #D9E6f9;"></div>
                  <img id={{concat "selfavg-" @index}} src={{question.url}} style="position:absolute;height:26px;transform: translate(-50%,-50%);top: 50%;"/>
                </div>
                <div
                  style="
                    position: absolute;
                    left: 0%;
                    top: 57px;
                    width: 1px;
                    height: 15%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 25%;
                    top: 57px;
                    width: 1px;
                    height: 15%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 50%;
                    top: 57px;
                    width: 1px;
                    height: 15%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 75%;
                    top: 57px;
                    width: 1px;
                    height: 15%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 269px;
                    top: 57px;
                    width: 1px;
                    height: 15%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div style="position: relative; margin-top: 8px">
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: -0.9%;
                    "
                    >0</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 24%;
                    "
                    >1</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 49%;
                    "
                    >2</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 74%;
                    "
                    >3</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 99%;
                    "
                    >4</span
                  >
                </div>
                <div
                  class="border"
                  style="
                    margin-top: 45px;
                    width: 270px;
                  "
                >
                  {{#each question.raterWiseQuestionData as |raterWiseAvg|}}
                  <div id={{concat "rater-avg-" @../index @index}}
                    {{!-- style="height: 24%; position: relative;border-top-right-radius:3px;border-bottom-right-radius: 3px;" --}}
                    style="height: 24%; position: relative;border-top-right-radius:3px;border-bottom-right-radius: 3px; {{concat "background-color: " raterWiseAvg.color}}"
                  >
               <p style="position:absolute; left:105%;font-family: 'urbanist';font-size: 12px;top: -2.75px;">{{decimalUpto2digit raterWiseAvg.avg}}</p>
                </div>
                  <script>
                    renderRaterWiseData("rater-avg-" +{{@../index}} + {{@index}},{{raterWiseAvg.avg}},{{@index}})
                  </script>
                  {{/each}}
                </div>
              </div>
              <script>
                renderStrengthAndDevNeedsFromManagerChart( "strengths-" +  {{@index}},"strengthsAvgAsc-" + {{@index}},"overallavg-"+ {{@index}},"selfavg-" + {{@index}},"avg-" + {{@index}},{{question.overall_avg}},{{question.avg}},{{question.self}})
              </script>
            </div>
          </div>
          {{/each}}
        </div>
       
      </div>
    </div>
  </div>
</div>
<div
  class="dont-break break-inside-avoid-page min-h-[1044px] report-container h-fit mx-auto p-4"
>
  <div class="relative h-full">
    {{> dual-gap/cornerFrames }}
    <div
      class="bg-primary-light text-primary p-2 font-urbanist font-bold text-base uppercase"
    >
      Strengths and Development Needs
    </div>
    <div>
      <div class="bg-neutral-100 p-2 mt-3 mb-3">
        <div class="text-primary text-semi-base font-semibold font-urbanist ">
          Development Needs
        </div>
        <div class="text-neutral-800 text-sm font-inter" style="font-size: 14px;">
          These practices were identified by your raters as your Development
          Needs. They have the Largest Average Gap Size. Build on this feedback.
        </div>
      </div>
      <div class="items-center border p-2 w-full break-inside-avoid-page mb-3">
         <div class="flex justify-center gap-10">
            <div class="flex justify-start items-center w-[30%]">
              <div class="mr-2 w-1 h-6 bg-[#0069ff]"></div>
              <div class="font-urbanist text-sm">Average Gap Size</div>
            </div>
            <div class="flex justify-start items-center w-[30%]">
              <div class="w-10 h-6 mb-2">
                {{#with topFiveStrenghtsData.[0]}}
                <img src="{{url}}" style="position: absolute; height: 30px" />
                {{/with}}
              </div>
              <div class="font-urbanist text-sm">Self Gap Size</div>
            </div>
            <div class="flex justify-start items-center w-[30%]">
              <div class="mr-2 w-10 h-6 bg-[#D9E6f9]"></div>
              <div class="font-urbanist text-sm">
                Overall Survey Average Gap Size
              </div>
            </div>
          </div>
            <div
             class="flex flex-wrap justify-between items-center mt-3 gap-4 rater-class"
            >
              {{#with topFiveStrenghtsData.[0]}} 
               {{#each raterWiseQuestionData as |raterWiseAvg|}}
                  <div class="flex justify-start items-center">
                     <div id={{concat "development-rater-avg-" @index}} class="w-8 h-4 mr-4" style="{{concat "background-color: " raterWiseAvg.color}}"></div>
                     <div class="font-urbanist text-sm">{{raterWiseAvg.key}}</div>
                  </div>
                  <script>
                     var developmentIndex;
                     developmentIndex = {{@index}}%8;
                     {{!-- document.getElementById("development-rater-avg-" + developmentIndex).style.backgroundColor=colors[developmentIndex] --}}
                  </script>
               {{/each}} 
              {{/with}}
            </div>
        </div>
      <div class="flex justify-between  flex-col p-4">
        <div>

          {{#each topFiveDevelopmemntNeedsData as |question|}}
          <div
            class="flex justify-between break-inside-avoid-page items-start min-h-[180px] h-auto "
            style="min-height: 180px"
          >
            <div class="w-[49%]">
              <p
                class="text-primary  font-urbanist font-semibold border-b uppercase"
                style="font-size: 16px;"
              >
                {{question.competency}}
              </p>
              <p class="text-sm text-sm font-inter  mt-1"
                 style="color: #404040;font-size: 14px;">
                Q{{findIndexofText ../sortedtopFiveStrenghtsData question.id}}. {{question.text}}
                {{!-- Q{{question.question_order}}. {{question.text}} --}}
                {{!-- Q{{concat @index 1}}. {{question.text}} --}}
              </p>
            </div>
            <div class="" style="margin-right: 2px">
              <div id={{concat "developmemntNeeds-" @index}}></div>
              <div
                style="
                  margin-left: 100px;
                  position: relative;
                  width: 270px;
                  height: 34px;
                "
              >
                <div id={{concat "developmemntNeedsAvgAsc-" @index}}  style="font-family: 'urbanist';position:relative;transform: translateX(-4%);">({{decimalUpto2digit question.avg}})</div>
                <div
                  style="
                    border: 0.626113px solid rgba(36, 36, 36, 0.66);
                    height: 34px;
                    width: 270px;
                    position: relative;
                  "
                >
                  <div id={{concat "developmemntNeeds-avg-" @index}} style="position:absolute;left:25%; width:4px;height:100%;background:#0069ff;transform: translate(-50%,-50%);top: 50%;z-index: 99;"></div>
                  <div id={{concat "developmemntNeeds-overallavg-" @index}} style="position:absolute; width:28px;height:100%;background: #D9E6f9;"></div>
                  <img id={{concat "developmemntNeeds-selfavg-" @index}} src={{question.url}} style="position:absolute;height:26px;transform: translate(-50%,-50%);top: 50%;"/>
                </div>
                <div
                  style="
                    position: absolute;
                    left: 0%;
                    top: 57px;
                    width: 1px;
                    height: 30%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 25%;
                    top: 57px;
                    width: 1px;
                    height: 30%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 50%;
                    top: 57px;
                    width: 1px;
                    height: 30%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 75%;
                    top: 57px;
                    width: 1px;
                    height: 30%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div
                  style="
                    position: absolute;
                    left: 269px;
                    top: 57px;
                    width: 1px;
                    height: 30%;
                    background: rgba(36, 36, 36, 0.66);
                  "
                ></div>
                <div style="position: relative; margin-top: 8px">
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: -0.9%;
                    "
                    >0</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 24%;
                    "
                    >1</span
                  >
                  <span
                    style="
                     position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 49%;
                    "
                    >2</span
                  >
                  <span
                    style="
                      position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 74%;
                    "
                    >3</span
                  >
                  <span
                    style="
                        position: absolute;
                      font-family: 'urbanist';
                      font-style: normal;
                      font-weight: 400;
                      left: 99%;
                    "
                    >4</span
                  >
                </div>
                <div
                  class="border"
                  style="
                    margin-top: 45px;
                   
                    width: 270px;
                  "
                >
                  {{#each question.raterWiseQuestionData as |raterWiseAvg|}}
                  <div id={{concat "developmentNeeds-rater-avg-" @../index @index}}
               style=" height: 30%; position: relative;border-top-right-radius:3px;border-bottom-right-radius: 3px; {{concat "background-color: " raterWiseAvg.color}}"
               ><p class="font-inter" style="position:absolute; left:105%;font-family: 'urbanist';font-size: 11px;top: -2.75px;">{{decimalUpto2digit raterWiseAvg.avg}}</p></div>
                  <script>
                    renderRaterWiseData("developmentNeeds-rater-avg-" +{{@../index}} + {{@index}},{{raterWiseAvg.avg}},{{@index}})
                  </script>
                  {{/each}}
                </div>
              </div>
              <script>
                renderStrengthAndDevNeedsFromManagerChart( "developmemntNeeds-" + {{@index}},"developmemntNeedsAvgAsc-" + {{@index}},"developmemntNeeds-overallavg-"+ {{@index}},"developmemntNeeds-selfavg-" + {{@index}},"developmemntNeeds-avg-" + {{@index}},{{question.overall_avg}},{{question.avg}},{{question.self}})
              </script>
            </div>
          </div>
          {{/each}}
        </div>
        
      </div>
    </div>
  </div>
</div>
 