<script>
  const renderCompetencyChart = (id,avg) => {
  let options = {
      chart: {
        type: "bar",
        toolbar: {
          show: false,
        },
        height: 110,
        animations: {
          enabled: false,
        },
      },
      series: [
        { name: "Average Gap Rating", data: [avg === 0 ? 0.0001 : avg.toFixed(2)] },
      ],
      tooltip: {
        enabled: false,
      },
      grid: {
        show: true,
        strokeDashArray: 5,
        xaxis: {
          lines: {
            show: true,
          },
        },
        yaxis: {
          lines: {
            show: false,
          },
        },
      },
      stroke: {
        colors: ["transparent"],
        width: 3,
      },
      plotOptions: {
        bar: {
          borderRadius: 2,
          borderRadiusApplication:"end",
          horizontal: true,
          barHeight: "50%",
          rangeBarGroupRows: false,
          dataLabels: {
            position: "top",
          },
        },
      },
      dataLabels: {
        enabled: true,
        offsetX: 30,
        formatter:(val)=>{
          return val === 0.0001 ? 0.00 : val.toFixed(2);
        },
        style: {
          fontSize: "10px",
          fontFamily: "Helvetica, Arial, sans-serif",
          fontWeight: 400,
          colors: ["#000000"],
        },
      },
      legend: {
        show: false,
      },
      yaxis: {
        show: false,
        max: 5,
        tickAmount: 4,
        labels: {
          show: true,
          align: "right",
          style: {
            colors: "#52606d",
            fontSize: "14px",
            fontFamily: '"Urbanist", "sans-serif"',
          },
        },
      },
      colors: ["#3786EE", "#D7E7FC"],
      xaxis: {
        categories: ["sdadasd"],
        axisBorder: {
          show: true,
        },
        labels: {
          style: {
            colors: "#52606d",
            fontSize: "14px",
            fontFamily: '"Urbanist", "sans-serif"',
          },
        },
      },
    };

    var chart = new ApexCharts(
      document.querySelector("#" + id),
      options
    );
    chart.render();
  };
</script>
 {{!-- w-full --}}
<div class="dont-break break-inside-avoid-page w-full min-h-[1044px] h-fit mx-auto p-5">
  <div class="relative h-full">
    {{> dual-gap/cornerFrames }}
    <div class="bg-primary-light text-primary font-urbanist font-bold p-2 text-base uppercase">
      Average Gap Size by Competency
    </div>

    <div >
      {{#each competencyData.competencyData2 as |competency|}}
      <div class="border-b border-b-[#1C9CF629] mt-10 pb-1 flex justify-between items-center">
        <div class="text-primary uppercase text-base font-urbanist font-semibold">{{competency.name}}</div>
        <div class="flex justify-between items-center">
          <div class="flex justify-between items-center">
            <div class="w-5 h-2 mr-2 bg-[#3786EE]"></div>
            <div class="text-xs text-neutral-600">Average Gap Size</div>
          </div>
        </div>
      </div>
        <div class="p-3"> 
          {{#each competency.questions as | question |}}
            <div class="flex justify-between items-center">
              {{#with question.questionnaireQuestion.[0]}}
                {{!-- <img src="{{url}}" style="position: absolute; height: 30px" /> --}}
                 {{!-- <div class="w-1/2 text-sm font-inter" style="    color: #525252;">Q{{order}}. {{question.text}}</div> --}}
               {{/with}}
                 <div class="w-1/2 text-sm font-inter" style="    color: #525252;">Q{{findIndexofText ../../competencyData.sortedArray question.id}}. {{question.text}}</div>
              <div class="w-1/2" style="margin-left: 100px;" id={{concat "avgGapCompetency-" competency.compIndex @index}}></div>
                <script>
                 renderCompetencyChart("avgGapCompetency-" + {{competency.compIndex}} + {{@index}},{{question.avg_gap}})
                </script>
            </div>
          {{/each}}
        </div>
    
      {{/each}}
    </div>
  </div>
</div>
